name: Build Docker

on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Build Docker image
        run: docker build -t ${{ vars.APP_NAME }}:${GITHUB_SHA} .

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ vars.DOCKER_USER }}/${{ vars.APP_NAME }}:${GITHUB_SHA}
