name: Build & Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/helloworld-cicd:latest

      - name: Deploy to VPS
        if: github.event_name == 'workflow_dispatch'
        uses: appleboy/ssh-action@v1.0.3
        env:
          DOCKER_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/helloworld-cicd:latest
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          envs: DOCKER_IMAGE
          script: |
            cd /home/${{ secrets.VPS_USERNAME }}/helloworld-cicd

            echo "DOCKER_IMAGE=$DOCKER_IMAGE" > .env
            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f

            echo "Deploy berhasil!"
            docker compose ps
